$theme-colors: (
  'youtube': #ff0000,
  'spotify': #1db954,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'panel';

body {
  margin: 0;
}

.btn-auth {
  min-width: 200px;
  margin: map-get($spacers, 2);
}

@include media-breakpoint-down(md) {
  .title-md-small {
    font-size: 1rem;
  }
}
